body{

    font-family: Montserrat;
    background-color: #F8DCB9 ;
}

header {
    grid-area: header;
    background-color: #dfc09a;
    border-radius: 10px;
    padding: 10px;  
    text-align: center;
    box-shadow: 5px 5px 5px #a0a083;
    opacity: 0.95;
}


nav {
    grid-area: nav;
    background-color: rgb(223, 192, 154);
    border-radius: 10px;
    padding: 5px;  
    text-align: center;
    box-shadow: 5px 5px 5px #a0a083;
    opacity: 0.95;
}

nav a {
    display: inline-block;
    width: 8em;
    background-color: #A0A083;
    padding: 10px;
    margin: 4px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    opacity: 0.95;
}



main {
    grid-area: main;
    background-color: rgb(223, 192, 154);
    border-radius: 10px;
    padding: 10px;  
    text-align: center;
    box-shadow: 5px 5px 5px #a0a083;
    opacity: 0.95;
}


aside {
    grid-area: aside;
    box-shadow: 5px 5px 5px #a0a083;
    background-color: rgb(223, 192, 154);
    border-radius: 10px;
    padding: 10px;
    opacity: 0.95;
}

aside img {
    max-width: 300px;
    border-radius: 10px;
}

footer {
    grid-area: footer;
    background-color: rgb(223, 192, 154);
    border-radius: 10px;
    padding: 10px;  
    text-align: center;
    box-shadow: 5px 5px 5px #a0a083;
    opacity: 0.95;
}

footer img{
    width: 100%;  max-width: 400px; 
}

.KuvaLinkit{
    display: flex; flex-direction: row;
    text-align: center;
    padding: 10px;
    justify-content: center;
}

.projektit1{
    margin: 4px;
    width: 100%;  max-width: 300px;
    background-color: #A0A083;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

.projektit2{ 
    margin: 4px;
    width: 100%;  max-width: 300px;
    background-color: #A0A083;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
  
main img{
    width: 100%; max-height: 200px; max-width: 300px;

}

  div.container {
    text-align: center;
    padding: 10px 20px;
  }

.grid-container1 {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'nav nav main main main aside'
        'nav nav main main main aside'
        'nav nav main main main aside'
        'footer footer footer footer footer footer';
    grid-gap: .5em;
    padding: .5em;
    
    max-width: 62em; /* GIVE CONTAINER A WIDTH AND MARGINS IF YOU DO NOT WANT FULL SCREEN */
    margin: auto;
}


.grid-container2 {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'nav nav main main main main'
    'nav nav main main main main'
    'nav nav main main main main'
    'footer footer footer footer footer footer';
    grid-gap: .5em;
    padding: .5em;
    
    max-width: 62em; /* GIVE CONTAINER A WIDTH AND MARGINS IF YOU DO NOT WANT FULL SCREEN */
    margin: auto;
}
     
  

.grid-container3 {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'nav nav main main main main'
        'nav nav main main main main'
        'nav nav main main main main'
        'footer footer footer footer footer footer';
    grid-gap: .5em;
    padding: .5em;
    
    max-width: 62em; /* GIVE CONTAINER A WIDTH AND MARGINS IF YOU DO NOT WANT FULL SCREEN */
    margin: auto;
    
  
}


ul li {
    list-style-type: none;
}


/*FIRST BREAK POINT === tablet */
@media only screen and (max-width : 900px) {
    body {
        background: rgb(223, 192, 154)
    }

    .grid-container1 {
        display: grid;
        grid-template-areas:
            'nav nav nav nav nav nav'
            'header header header header header header'
            'main main main main main main'
            'footer footer footer footer footer footer';
        grid-gap: .5em;
    }
    .grid-container2 {
        display: grid;
        grid-template-areas:
            'nav nav nav nav nav nav'
            'header header header header header header'
            'main main main main main main'
            'footer footer footer footer footer footer';
        grid-gap: .5em;
    }
    .grid-container3 {
        display: grid;
        grid-template-areas:
            'nav nav nav nav nav nav'
            'header header header header header header'
            'main main main main main main'
            'footer footer footer footer footer footer';
        grid-gap: .5em;
    }
    aside img {
        display: none;
    }
    ul li {
        display: inline-block;
    }
    aside{
        display: none;
    }
}

/*SECOND BREAK POINT === mobile */
@media only screen and (max-width : 600px) {

    body {
        background: rgb(223, 192, 154)
    }

    .grid-container1 {
        display: grid;
        grid-template-areas:
            'header header header header header header'
             'nav nav nav nav nav nav'
            'main main main main main main'
            'footer footer footer footer footer footer';
        grid-gap: .5em;
    }

    .grid-container2 {
        display: grid;
        grid-template-areas:
            'header header header header header header'
             'nav nav nav nav nav nav'
            'main main main main main main'
            'footer footer footer footer footer footer';
        grid-gap: .5em;
    }

    .grid-container3 {
        display: grid;
        grid-template-areas:
            'header header header header header header'
             'nav nav nav nav nav nav'
            'main main main main main main'
            'footer footer footer footer footer footer';
        grid-gap: .5em;
    }
    
    .linkit {
        display: flex;
        flex-direction: row;
        
    }
    aside img {
        display: none;
    }
    aside{
        display: none;
    }

    .linkit{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    } 


    ul li {
        display: inline-block;
    }

}